.row {
  width: 100%;
  margin: 0;
}

.cardapio-title-1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.wrapper-cardapio {
  background-color: lightblue;
}

.container-carrinho {
  background-color: rgba(200,200,200,1);
  padding: 15px 30px;
}

@media screen and (min-width: 1400px) {
  .wrapper-cardapio {
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
  }

  .carrinho-whole {
    flex: 0 0 28%;

    margin-top: 58px;
  }

  .container-carrinho {
    padding: 30px 20px;

    border-top: 6px solid white;

    height: auto;
  }

  .container-cardapio {
    flex: 0 0 70%;
  }

  .container-cardapio-lanches {
    background-color: transparent;
    padding: 0px 50px;

    margin-bottom: 10px;
  }

  .container-cardapio-bebidas {
    background-color: transparent;
    padding: 0px 50px;

    margin-bottom: 10px;
  }

  .cardapio-title-1 {
    font-size: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .cardapio-title-1 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    margin: 20px 0;
  }

  .container-cardapio {
    padding-top: 20px;
  }
}

// ------------

.alert-pedidosemaberto {
  background-color: rgba(255,100,100,1);
  padding: 30px 100px;
}

.alert-pedidosemaberto-text {
  color: white;

  a:link, a:hover, a:active, a:visited {
    color: white;

    &:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .alert-pedidosemaberto {
    padding: 20px 20px;
  }

  .alert-pedidosemaberto-text {
    font-size: 16px;
  }

}

