@media screen and (min-width: 1600px) {
  .wrapper-cardapio {
    background-color: lightblue;
    padding: 40px 50px;

    display: flex;
    justify-content: space-between;
  }

  .container-carrinho {
    flex: 0 0 28%;

    margin-left: 25px;

    background-color: rgba(200,200,200,1);
    border: 1px solid black;

    padding: 0 0px;

    height: auto;
  }

  .container-cardapio {
    flex: 0 0 70%;
  }

  .container-cardapio-lanches {
    background-color: rgba(240,240,240,1);
    padding: 10px 50px;
    border: 1px solid rgba(150,150,150,1);
    box-shadow: 1px 1px rgba(220,220,220,1);

    margin-bottom: 50px;
  }

  .container-cardapio-bebidas {
    background-color: rgba(240,240,240,1);
    padding: 10px 50px;
    border: 1px solid rgba(150,150,150,1);
    box-shadow: 1px 1px rgba(220,220,220,1);

    margin-bottom: 50px;
  }

  .cardapio-title-1 {
    font-size: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .cardapio-title-1 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
  }
}

// ------------

.alert-pedidosemaberto {
  background-color: rgba(255,100,100,1);
  padding: 30px 100px;
}

.alert-pedidosemaberto-text {
  color: white;

  a:link, a:hover, a:active, a:visited {
    color: white;

    &:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .alert-pedidosemaberto {
    padding: 20px 20px;
  }

  .alert-pedidosemaberto-text {
    font-size: 20px;
  }

}

