.wrapper-checkout {
  background: rgba(230,230,230,1);
  min-height: calc(100vh - 70px);
}

.container-checkout {
  background: white;
  border: 1px solid rgba(150,150,150,1);
  box-shadow: 1px 1px rgba(100,100,100,1);
}


@media screen and (min-width: 1600px) {
  .wrapper-checkout {padding: 50px 400px;}
  .container-checkout {padding: 50px 50px;}
}

@media screen and (max-width: 1600px) {
  .wrapper-checkout {padding: 50px 80px;}
  .container-checkout {padding: 50px 100px;}
}

@media screen and (max-width: 1000px) {
  .wrapper-checkout {padding: 50px 10px;}
  .container-checkout {padding: 10px 10px;}
}


.checkout-page-title {
  margin: 0;
}

.checkout-page-subtitle {
  margin: 0;
}

.carrinho-conteudo-checkout {
  padding: 0 10px;
}

.carrinho-conteudo-checkout-bebidas {
  margin-bottom: 60px;
}

.checkout-options {
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;
  width: 25vw;
}

.checkout-btn {

}

.btn-proceedcheckout {
  width: 10vw;
  color: white;
  background: rgba(255,150,150,1);
  border: 1px solid rgba(255,150,150,1);

  &:hover {
    background: rgba(255,120,120,1);
    color: white;
    border: 1px solid rgba(255,150,150,1);
  }
}

.btn-returntostore {
  width: 10vw;
  background: white;
  color: rgba(255,150,150,1);
  border: 1px solid rgba(255,150,150,1);

  &:hover {
    color: rgba(255,150,150,1);
    background: white;
    border: 1px solid rgba(255,150,150,1);
  }
}



.checkout-total-cost {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 1px solid rgba(150,150,150,1);
  padding-left: 10px;
}

.alterar-endereco {
  color: rgba(255,100,100,1);

  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgba(255,100,100,1);
  }
}

.carrinho-lista-cadalanche-ingredientes {
  font-size: 17px;
  color: rgba(100,100,100,1);
}

.checkout-excluirlanche {
  color: rgba(255,100,100,1);
  text-decoration: none;

  &:hover {
    color: rgba(255,100,100,1);
  }
}
