.pedido-index-user-title {

}

.pedido-index-user-cadapedido-header {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    cursor: pointer
  }

  margin-top: 10px;
}

.pedido-header-concluido {
  background: rgba(200,200,200,1);
  padding: 10px 40px;
}

.pedido-header-andamento {
  background: rgba(255,200,200,1);
  padding: 35px 40px;
}


.pedido-index-user-cadapedido-body {
  background: rgba(250,250,250,1);

  width: 100%;

  padding: 35px 40px;
}

.pedido-index-user-pedido-id {
  font-size: 20px;
}

.pedido-index-user-pedido-status {
  font-size: 20px;
}

.pedido-index-user-pedido-horario {
  font-size: 20px;
}

.pedido-index-user-pedido-tempoestimado {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .pedido-index-user-title {
    font-size: 22px;
    font-weight: bold;
  }

  .pedido-index-user-cadapedido-header {
    padding: 10px;
  }

  .pedido-header-concluido {
    background: rgba(200,200,200,1);
    padding: 10px 10px;
  }

  .pedido-header-andamento {
    background: rgba(255,200,200,1);
    padding: 10px 10px;
  }

  .pedido-index-user-cadapedido-body {
    padding: 10px 10px;
  }

  .pedido-index-user-pedido-id {
    font-size: 15px;
    margin: 10px 0;
  }

  .pedido-index-user-pedido-status {
    font-size: 15px;
    margin: 10px 0;
  }

  .pedido-index-user-pedido-horario {
    font-size: 15px;
    margin: 10px 0;
  }

  .pedido-index-user-pedido-tempoestimado {
    font-size: 15px;
    margin: 10px 0;
  }

  .pedido-index-user-cadapedido-body-informacao {
    font-size: 15px;
  }

  .pedido-index-user-cadapedido-body-item {
    font-size: 15px;
  }
}

