.wrapper-pedidoburger {
  background-color: lightblue;
  padding: 40px 20vw;
}

.container-pedidoburger {
  background-color: transparent;
  // padding: 20px 20px;
  // border: 1px solid rgba(150,150,150,1);
  // box-shadow: 1px 1px rgba(220,220,220,1);
}

.pedidoburger-title {
  text-align: center;
  font-family: $roboto;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(60,60,60,1);
}

.ingrediente-nome {
  font-size: 20px;

  flex: 0 0 40%;
  text-align: left;

  font-weight: 300;
}

@media screen and (min-width: 1600px) {
  .wrapper-pedidoburger {

    padding: 40px 20vw;
  }

  .container-pedidoburger {
    padding: 20px 20px;
  }
}


.burger-proceed-btn {
  width: 50%;
  height: 45px;
  background-color: $vermelho-medio;
}

.cada-ingrediente  {
  display: flex;
  text-align: center;
  justify-content: space-between;

  background-color: rgba(255,255,255,0.8);
  margin-bottom: 10px;
  padding: 2px 2px 2px 20px;
}

.ingrediente-quantidades {
  display: flex;
  text-align: center;
  justify-content: space-between;

  flex: 0 0 60%;
}

.ingrediente-quantidade  {
  border-radius: 5px;

  flex: 0 0 30%;

    p {
      font-weight: lighter;
      margin-bottom: 5px;
    }

  &:hover {
    background-color: rgba(180,180,180,1);
    cursor:  pointer;
  }
}

.ingrediente-ativo {
  background-color: rgba(255,200,200,1)
}

.pedidoburger-ingrediente-categoria-title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  font-weight: 200;
  border-bottom: 1px solid white;
}

.burger-card-preco-build {
  font-weight: bold;

  display: flex;
  text-align: center;
  justify-content: space-between;

  width: 200px;
}

.burger-card-preco-build-base {
  font-size: 30px;
}

.burger-card-preco-build-extra {
  font-size: 25px;
}

.pedidoburger-finalizar-btn {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .wrapper-pedidoburger {
    padding: 10px 0vw;
  }

  .container-pedidoburger {
    padding: 10px 0px;
  }

  .pedidoburger-title {
    font-size: 30px;
    margin: 20px 0;
  }

  .cada-ingrediente  {
    margin-bottom: 5px;
  }

  .ingrediente-nome {
    font-size: 15px;

    border-right: 2px solid rgba(200,200,200,1);

    padding: 5px 10px 5px 10px;

    margin: 10px 0;
  }

  .ingrediente-quantidade {
    p {
      font-size: 15px;
      font-weight: lighter;
    }
  }

  .ingrediente-quantidades {
    display: flex;
    text-align: center;
    justify-content: space-between;

    flex: 0 0 50%;
  }

  .burger-proceed-btn {
    width: 80%;
    margin-bottom: 30px;
  }

  .burger-card-preco-build {
    width: 120px;
  }

  .burger-card-preco-build-base {
    font-size: 25px;
  }

  .burger-card-preco-build-extra {
    font-size: 20px;
  }

  .pedidoburger-ingrediente-categoria-title {
    font-size: 25px;
    font-weight: 200;
    border-bottom: 1px solid white;
    margin: 20px 10px 10px 10px;
  }
}
