.burger-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $vermelho-medio;

  height: 200px;

  margin-bottom: 20px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.burger-card-picture {
  height: 200px;
  background-size: cover;

  flex: 0 0 40%;
}

.burger-card-description {
  flex: 0 0 60%;
  padding-left: 20px;

  color: white;
}

.burger-card-nome {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.burger-card-ingredientes {
  color: white;
  font-weight: lighter;
  margin-bottom: 15px;
  font-size: 17px;
  text-align: justify;
  padding-right: 10px;
}

.burger-card-preco {
  font-size: 25px;
  font-weight: bold;
}

.burger-card-link {
  text-decoration: none !important;
}

.bebida-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $vermelho-medio;

  height: 150px;

  margin-bottom: 20px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  position: relative;
}

.bebida-card-picture {
  height: 150px;
  background-size: cover;

  flex: 0 0 40%;
}

.bebida-card-description {
  flex: 0 0 60%;
  padding-left: 20px;
}


.bebida-card-nome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.bebida-card-preco {
  margin-bottom: 20px;
  color: white;
}

.bebida-card-comprar {

}

.bebida-modal-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bebida-modal-quantidade {
  text-align: left;
}

.bebida-modal-picture {
 flex: 0 0 50%;
 height: 250px;
 background-size: cover;
}

.bebida-modal-quantidade {
  flex: 0 0 50%;
}

.bebida-modal-quantidade-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100px;
}

.bebida-modal-quantidade-controller-minus {
  font-size: 30px;
  color: gray;
}

.bebida-modal-quantidade-controller-input {
  margin-left: 30px;
  width: 80px;
}

.bebida-modal-quantidade-controller-plus {
  margin-left: 30px;

  font-size: 30px;
  color: green;
}

.adicionar-bebida-btn {
  padding: 0 30px;

  position: absolute;
  bottom: 10px;
  right: 10px;
}


// Mobile adaptations
@media screen and (max-width: 768px) {
  .burger-card {
    height: 150px;
    margin-bottom: 10px;
  }

  .burger-card-picture {
    height: 150px;
  }

  .burger-card-description {
    padding-left: 10px;
  }

  .burger-card-nome {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .burger-card-ingredientes {
    margin-bottom: 15px;
    font-size: 12px;
  }

  .burger-card-preco {
    font-size: 16px;
    font-weight: bold;
  }

  .bebida-card {
    height: 100px;
    margin-bottom: 10px;
  }

  .bebida-card-picture {
    height: 100px;
  }

  .bebida-card-description {
    padding-left: 10px;
  }

  .bebida-card-nome {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .bebida-card-preco {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .adicionar-bebida-btn {
    font-size: 15px;
  }

  .modal-title {
    font-size: 20px;
  }

  .bebida-modal-quantidade {
    text-align: left;
  }

  .bebida-modal-picture {
   flex: 0 0 40%;
   height: 150px;
   background-size: cover;
  }

  .bebida-modal-quantidade {
    flex: 0 0 60%;
    padding-left: 20px;

    h4 {
      font-size: 18px;
    }
  }

  .bebida-modal-quantidade-controller-minus {
    font-size: 20px;
    color: gray;
  }

  .bebida-modal-quantidade-controller-input {
    margin-left: 20px;
    width: 80px;
  }

  .bebida-modal-quantidade-controller-plus {
    margin-left: 30px;

    font-size: 20px;
    color: green;
  }

  .burger-card-expand-mobile {
    height: 175px;
    padding: 0 10px;
  }

}

.bebida-card-link-parent {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }



}
