/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(255,150,150,1);
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a:link, a:hover, a:visited, a:active {
    text-decoration: none;
  }
}

/* Logo */
.logo-link {
  text-decoration: none;
  padding-bottom: 10px;
}

.burger-logo-icon {
  width: 50px;
}

.site-logo-part1 {
  font-size: 30px;
  color: white;
}

.site-logo-part2 {
  font-size: 40px;
  color: white;
}

// Mobile adaptations
@media screen and (max-width: 768px) {
  .navbar-wagon {
    padding: 0 20px;
  }
  .site-logo-part1 {
    font-size: 20px;
  }

  .site-logo-part2 {
    font-size: 23px;
  }
}


/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-button {
  width: 200px;
  background: white;
  color: rgba(255,150,150,1);
  border: 1px solid rgba(255,150,150,1);

  &:hover {
    color: rgba(255,150,150,1);
    font-weight: bold;
    background: white;
    border: 1px solid rgba(255,150,150,1);
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 20px 20px;
  color: white;
}

.navbar-wagon-link {
  cursor: pointer;

  color: white;
  font-size: 16px;
  margin: 0 5px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: white;
    color: $vermelho-medio;
    transition: 0.3s ease;
  }

  i {
    font-size: 30px;
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: rgba(50,50,50,1) !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: rgba(255,150,150,1) !important;
  color: white !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
